{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 ">

      <div class="card-image card-image-blog p-0">
        {{ $ := . }}
        {{ with partial "get_image" . }}
          {{ if not (strings.Contains $.Content $.Params.image) }}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}" class="card-img-bottom rounded img-fluid lazyload">
          {{ end }}
        {{ end }}


        {{ if .Params.video }}
        <video loop autoplay muted playsinline class="img-title">
          <source src="{{ .Params.video }}">
        </video>
        {{ end }}
      </div>
    </div>

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-4">
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>
    </div>
  </div>

  {{ if or .Params.tags (not .Site.Params.hideAuthor) ($.Param "socialShare") (ne .Type "page") }}
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <hr class="m-0"/>
    </div>
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-2">
      {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-4">
      {{ if $.Param "socialShare" }}
      <section id="social-share">
        <div class="list-inline footer-links">
          {{ partial "share-links" . }}
        </div>
      </section>
      {{ end }}
    </div>


<!-- Riquadro Riguardo il Macchinista -->
{{ $authors := .Params.authors }}
{{ if $authors }}
    {{ $author := index $authors 0 }} <!-- Prendi il primo autore dall'array -->
    {{ $authorPage := site.GetPage (printf "authors/%s" (urlize $author)) }} <!-- Ottieni la pagina dell'autore -->

    {{ if $authorPage }} <!-- Verifica se l'autore è presente -->
    <div class="author-info col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-3">
        <div class="author-info-header mt-3 d-flex justify-content-between align-items-center">
            <h3>Riguardo il macchinista</h3>
            <p><a href="{{ $authorPage.Permalink }}">Pagina archivio del macchinista</a></p>
        </div>
        <hr style="border: 1px dashed #ccc; margin: 10px 0;"> <!-- Linea punteggiata -->

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start"> <!-- Cambia da d-flex a d-flex flex-column su mobile -->
            <div class="author-content flex-grow-1 mb-3 mb-md-0"> <!-- Margine inferiore su mobile -->
                {{ $authorPage.Content }}
            </div>

            <div class="author-image d-flex flex-column align-items-center" style="flex: 0 0 200px;">
                {{ $image := $authorPage.Resources.Get $authorPage.Params.photo }}
                {{ if $image }}
                    {{ $resizedImage := $image.Fill "200x200" }}
                    <img class="circular-image" src="{{ $resizedImage.RelPermalink }}" alt="{{ $author }}"/>
                {{ else }}
                    <p>Image not found: {{ $authorPage.Params.photo }}</p>
                {{ end }}

                <div class="social-links">
                    {{ if $authorPage.Params.website }}
                        <a href="{{ $authorPage.Params.website }}" target="_blank">
                            <i class="bi bi-globe"></i>
                        </a>
                    {{ end }}

                    {{ if $authorPage.Params.rss }}
                        <a href="{{ $authorPage.Params.rss }}" target="_blank">
                            <i class="bi bi-rss"></i>
                        </a>
                    {{ end }}

                    {{ if $authorPage.Params.facebook }}
                        <a href="{{ $authorPage.Params.facebook }}" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                    {{ end }}

                    {{ if $authorPage.Params.linkedin }}
                        <a href="{{ $authorPage.Params.linkedin }}" target="_blank">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    {{ else }}
        <p>Pagina dell'autore non trovata.</p>
    {{ end }}
{{ end }}
<!-- Fine riquadro Riguardo il Macchinista -->



    <div class="col-lg-8 offset-lg-2 col-md-12 offset-md-1 pt-4">
      {{ if ne .Type "page" }}
      <ul class="list-group list-group-horizontal" style="flex-direction: row">
        {{ if .PrevInSection }}
        <li class="list-group-item b-0 p-0">

          <a type="button" class="btn btn-dark" role="button" href="{{ .PrevInSection.Permalink }}"
            data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr;
            {{ i18n "previousPost" }}</a>
        </li>
        {{ end }}


        {{ if .NextInSection }}
        <li class="list-group-item ms-auto b-0 p-0">
          <a type="button" class="btn btn-dark" role="button" href="{{ .NextInSection.Permalink }}"
            data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }}
            &rarr;</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-4">
    </div>
  </div>
  {{ end }}
</div>

<div class="">
  {{ $has_related := false }}
  {{ if .Site.Params.showRelatedPosts }}
  {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink)
  }}
  {{ $has_related = true }}
  {{ end }}

  {{ if $has_related }}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mt-3">
        <h3>{{ i18n "readMore" }}</h3>
        <hr />
      </div>

      {{ $num_to_show := .Site.Params.related_content_limit | default 3 }}
      {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!="
      .Permalink) }}

      {{ partial "post_preview_card" .}}
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ end }}

  {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and
  .Site.Params.comments (ne .Type "page"))) }}
  {{ if .Site.DisqusShortname }}
  {{ if .Site.Params.delayDisqus }}
  <div class="disqus-comments">
    <button id="show-comments" class="btn btn-default" type="button">{{ i18n "show" }} <span
        class="disqus-comment-count" data-disqus-url="{{ trim .Permalink " /" }}">{{ i18n "comments" }}</span></button>
    <div id="disqus_thread"></div>

    <script type="text/javascript">
      var disqus_config = function () {
        this.page.url = '{{ trim .Permalink "/" }}';
      };

    </script>
  </div>
  {{ else }}
  <div class="disqus-comments">
    {{ template "_internal/disqus.html" . }}
  </div>
  {{ end }}
  {{ end }}
  {{ end }}

</div>
{{ end }}
